<h1 id="hallo-title" class="dotted editor title-editor" contenteditable>
  <%= raw(title) %>
</h1>

<div id="hallo-editor-parent">
  <div id="hallo-toolbar"></div>
  <div id="hallo-editor" class="dotted editor body-editor">
    <%= raw(body) %>
  </div>
  <br />
</div>

<%= form_for(@post, :html => { :style => 'display:inline;' }) do |f| %>
  <%= f.hidden_field :title, :id => 'h-title-field', :value => title %>
  <%= f.hidden_field :body , :id => 'h-body-field', :value => body %>

  <%= f.label :category, 'Category: ' %>
  <%= f.select :category, 
    [ 'Other', 'Arts', 'Business', 'Confession', 'Entertainment', 'Funny', 'Fashion', 
      'Gaming', 'Health', 'How To', 'Journal', 'Life', 'Men', 'Movies/TV', 
      'Music', 'Opinion', 'Politics', 'Science', 'Self', 'Society', 'Rant', 
      'Religion', 'Sports', 'Technoloy', 'Travel', 'Women', 'World' ]
  %>

  <% if password == true %>
    <br />
    <%= f.label :password, 'Password: ' %>
    <%= f.password_field :password, :id => 'password-field', :placeholder => 'post password (required)' %>
    <span class="gen-form-elm" style="color: red; margin-left: 5px;">*</span>
    <br />
  <% end %>

  <a href="#"  id="preview-button" class="button">Toggle Preview</a>
  <%= f.submit :value => 'Save Post', :class => 'button success', :id => 'submit-button' %>
<% end %>