<div class="post-body">
  <h1 style="display: inline;">
    <%= @post.title %>
  </h1>
  <a href="<%= edit_post_path(@post.hashed_key) %>">(edit)</a>
  <br>
  <a href="<%= post_category_path(@post.category) %>" class="cat-label button small radius success">Category: <%= @post.category %></a>

  <hr>

  <div id="post-body-content">
    <%= raw(@post.body) %>
  </div>

</div>


