<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BlogMask</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <!-- data attributes are for LoadJS gem -->
  <body 
    data-controller="<%= controller.controller_path %>" 
    data-action="<%= controller.action_name %>">

    <!-- Top Navigation Bar -->
  	<nav class="top-bar" data-topbar>
  		<ul class="title-area">
  			<li class="name">
  				<h1><a href="/">BlogMask</a></h1>
  			</li>
  		</ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><a href="#">About</a></li>

          <li class="divider"></li>
          <li><a href="#">Contact</a></li>

          <li class="divider"></li>
          <li class="has-form">
            <a href="<%= new_post_path %>" class="small button">New Post</a>
          </li>
        </ul>
      </section>
  	</nav>

    <!-- Main Body -->
    <section role="main">
      <div class="row">
        <!-- Center Content -->
        <div class="large-12 columns">
          <%= yield %>
        </div>
      </div>
    </section>

    <!-- Rangy, used for Hallo -->
    <script src="http://rangy.googlecode.com/svn/trunk/currentrelease/rangy-core.js"></script>
    <%= javascript_include_tag "application" %>
  </body>
</html>
